header{
  display: flex;
  justify-content: space-between;
}
main label, .types label{
  width: 100px;
}

.types{
  min-height: 100px;
  width: 500px;
  border: 1px solid #333;
  padding: 10px;
  display: none;
  /* visibility: hidden; */
}

.seetypes{
  display: block;
  /* visibility: visible; */
}